<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>FEBE</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column min-vh-100">

        <header class="text-center bg-body-secondary text-muted">
            <div class="d-flex">

                <div class="w-25">
                    <!-- To recentre H1 after adding logout button -->
                </div>

                <div class="text-center w-50">
                    <h1>Welcome to FEBE</h1>
                    <p sec:authentication="name"></p>
                </div>

                <div class="w-25 justify-content-end">
                    <form action="#" th:action="@{/profile}">
                        <input value="Profile" type="submit" class="btn btn-primary mt-2">
                    </form>

                    <form action="#" th:action="@{/logout}" method="POST">
                        <input value="Log Out" type="submit" class="btn btn-danger mt-2">
                    </form>
                </div>

            </div>
        </header>

        <section class="container text-center mt-5">
            <div class="row justify-content-center">
                <p>Navigate to a page to find out more!</p>
            </div>
        </section>

        <section class="container text-center mt-5">
            <div class="row row-cols-auto justify-content-center">
                <div class="col">
                    <h2>
                        <a href="https://www.geeksforgeeks.org/advance-java/hibernate-generatedvalue-annotation-in-jpa/">Hibernate Annotations</a>
                    </h2>
                </div>
                <div class="col"></div>
                <div class="col">
                    <h2>
                        <a href="https://crackstation.net/hashing-security.htm">Bcrypt Best Practice</a>
                    </h2>
                </div>
                <div class="col"></div>
                <div class="col">
                    <h2>
                        <a href="https://www.theodinproject.com">The Odin Project</a>
                    </h2>
                </div>
            </div>
        </section>

        <footer class="text-center text-lg-start bg-body-secondary text-muted mt-auto">
            <div class="text-center p-4" sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/system/manage-users}">Admin Dashboard</a>
            </div>
        </footer>
    </body>
</html>
