<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>FEBE</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

    <body class="d-flex flex-column min-vh-100">

        <header class="text-center bg-body-secondary text-muted">
            <div class="d-flex">

                <div class="w-25">
                    <!-- To recentre H1 after adding logout button -->
                </div>

                <div class="text-center w-50">
                    <h1>Profile</h1>
<!--                    <p th:text="${currentUser.userId}"></p>-->
                    <p sec:authentication="name"></p>
                </div>

                <div class="w-25 justify-content-end">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <input value="Log Out" type="submit" class="btn btn-danger mt-2">
                    </form>
                </div>

            </div>
        </header>

        <section class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Make changes to your profile here!</h5>
                </div>

                <a th:href="@{/profile/edit-profile(user_profile_id=${userProfile.getUserProfileId()})}" class="btn btn-info btn-sm">
                    Edit Profile
                </a>

                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Age</th>
                            <th scope="col">Gender</th>
<!--                            <th scope="col">DoB</th>-->
                            <th scope="col">Hobby</th>
                            <th scope="col">Bio</th>
                        </tr>
                    </thead>

                    <tbody>
                        <td th:text="${userProfile.age}"></td>
                        <td th:text="${userProfile.gender}"></td>
<!--                        <td th:text="${userProfile.dateOfBirth}"></td>-->
                        <td th:text="${userProfile.hobby}"></td>
                        <td th:text="${userProfile.bio}"></td>
                    </tbody>
                </table>
            </div>
        </section>

        <footer class="text-center text-lg-start bg-body-secondary text-muted mt-auto">
            <div class="text-center p-4">
                <a th:href="@{/home}">Back to Home</a>
            </div>
        </footer>

    </body>

</html>